
<div class="col-md-6 offset-md-0.1 mt-5">
  <div class="splite left">
    <div style="overflow-x: auto;">
      <table>
          <tr>
            <th></th>
            <th>Login</th>
            <th>Login</th>
            <th>Login</th>
            <th>Login</th>
            <th>Login</th>
            <th>Login</th>
            <th>Login</th>
            <th>Login</th>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
        </table>
      </div>
    </div>
</div>

<div class="w3-container">
    
  
  </div>
